:root {
  font-size: 16px;
  line-height: 150%;
  --color-light: #fff;
  --color-dark: #0a0404;
  --color-dark1: hsla(345, 5%, 36%, 0.5);
  --color-dark2: rgba(0, 0, 0, 0.7);
  --color1: hsl(215, 75%, 34%);
  --color1-alter: hsl(205, 55%, 34%);
  --color1-light: hsla(215, 75%, 34%, 0.6);
  --color1-light2: hsla(215, 75%, 34%, 0.2);
  --color2: hsl(198, 75%, 51%);
  --color2-alter: hsl(198, 55%, 51%);
  --color2-light: hsla(198, 75%, 51%, 0.6);
  --color2-light2: hsla(198, 75%, 51%, 0.2);
  --color2-light3: hsla(198, 75%, 51%, 0.1);
  --color3: hsl(166, 75%, 34%);
  --color3-alter: hsl(166, 45%, 34%);
  --color4: hsl(198, 50%, 34%);
  --color5: hsl(338, 75%, 34%);
  --color6: hsl(30, 75%, 50%);
  --color7: hsl(39, 100%, 50%);
  --color8: hsl(24, 75%, 50%);
  --lh: 150%;
  --transition: all 0.25s linear;
  --shadow: 0px 0px 5px var(--color1-alter);
  --gap-lg: 100px;
  --gap-md: 50px;
  --gap-sm: 20px;
  --gap-xsm: 10px;
}
@media (max-width: 768px) {
  :root {
    --gap-lg: 50px;
    --gap-md: 30px;
    --gap-sm: 15px;
  }
}
._lock {
  overflow: hidden;
}
body {
  font-family: 'Rubik', sans-serif;
  margin: 0 !important;
}
.padding-block {
  padding-block: var(--gap-md);
}
.padding-block-lg {
  padding-block: var(--gap-lg);
}
.text-center {
  text-align: center;
}
.block-center {
  margin-inline: auto;
}
.text-light {
  color: var(--color-light);
}
.colored {
  color: var(--color2);
}
.colored2 {
  color: var(--color1);
}
[class*=__container]:not(.pswp__container) {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.btn {
  color: var(--color-light);
  padding: var(--gap-sm);
  background-color: var(--color1);
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  letter-spacing: 1px;
  transition: var(--transition);
  border-radius: 5px;
  display: table;
}
.btn:visited {
  color: var(--color-light);
}
.btn:hover {
  background-color: var(--color1-alter);
  box-shadow: var(--shadow);
  color: var(--color-light);
}
.btn.btn-contrast {
  background-color: var(--color8);
}
.btn.btn-contrast:hover {
  background-color: var(--color7);
}
.btn.btn-contrast2 {
  background-color: var(--color3);
}
.btn.btn-contrast2:hover {
  background-color: var(--color3-alter);
}
.heading {
  font-size: 48px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .heading {
    font-size: 35px;
  }
}
.heading-2 {
  font-size: 38px;
  line-height: var(--lh);
}
@media (max-width: 768px) {
  .heading-2 {
    font-size: 28px;
  }
}
.simple-form form input {
  display: inline-block;
  width: 100%;
  max-width: 150px;
  padding: 5px;
  border: 1px solid var(--color1);
}
.simple-form form button[type="submit"],
.simple-form form input[type="submit"] {
  display: inline-block;
  padding: 5px 15px;
  background: var(--color1);
  color: var(--color-light);
  min-height: 36px;
  border: none;
  cursor: pointer;
  width: unset;
  max-width: unset;
}
#page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#primary {
  flex: 1 1 100%;
}
.type-page a {
  color: var(--color2);
}
.site-header {
  padding-top: var(--gap-xsm);
  padding-bottom: var(--gap-xsm);
  border-bottom: 1px solid var(--color2-light2);
  background: linear-gradient(to bottom, var(--color2-light2), var(--color-light));
}
.site-header .site-branding {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xsm);
  margin-bottom: var(--gap-xsm);
}
@media (max-width: 768px) {
  .site-header .site-branding {
    justify-content: center;
    align-items: center;
  }
}
.site-header .site-branding img {
  width: 100%;
  max-width: 300px;
}
.site-header .header-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}
.site-header .header-side .cart {
  font-size: 20px;
  color: var(--color1);
  text-decoration: none;
  display: flex;
  gap: 4px;
}
.site-header .header-side .cart i {
  font-size: 25px;
  color: var(--color2-alter);
}
.site-header .header-side .cart sup {
  padding: 5px;
  background-color: var(--color2-light2);
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-dark);
}
.site-header .main-navigation {
  padding-top: var(--gap-xsm);
  border-top: 1px solid var(--color2-light2);
}
.site-header .main-navigation ul:not(.sub-menu) {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.site-header .main-navigation .sub-menu {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
  padding: var(--gap-xsm);
  background-color: var(--color-light);
}
@media (max-width: 768px) {
  .site-header .main-navigation .sub-menu {
    position: static;
    padding: 0;
    gap: 0;
    background: unset;
    box-shadow: unset !important;
    padding-left: var(--gap-xsm);
  }
  .site-header .main-navigation .sub-menu li {
    box-shadow: unset !important;
  }
}
.site-header .main-navigation li.menu-item-has-children {
  position: relative;
}
.site-header .main-navigation li.menu-item-has-children::after {
  content: '';
  width: 5px;
  height: 5px;
  display: block;
  position: absolute;
  top: 50%;
  right: -9px;
  transform: translateY(-50%) rotate(-45deg);
  border: 1px solid var(--color-dark);
  border-top: unset;
  border-right: unset;
}
.site-header .main-navigation a {
  color: var(--color-dark);
}
@media (max-width: 768px) {
  .site-header .main-navigation .menu-toggle {
    display: block;
    margin-left: auto;
    border: 1px solid var(--color2-light2);
    background-color: var(--color2-alter);
    color: var(--color-light);
  }
  .site-header .main-navigation .menu-toggle span {
    color: var(--color-light);
  }
  .site-header .main-navigation:not(.toggled) ul.nav-menu {
    display: none;
  }
  .site-header .main-navigation.toggled ul {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .site-header .main-navigation.toggled > ul {
    margin-top: var(--gap-xsm);
    padding: var(--gap-xsm);
    border: 1px solid var(--color2-light2);
    border-radius: 5px;
  }
}
.hb-footer {
  margin-top: var(--gap-sm);
  padding-top: var(--gap-sm);
  border-top: 1px solid var(--color1-light2);
  background: linear-gradient(to top, var(--color1-light2), var(--color-light));
}
.hb-footer__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap-xsm);
}
@media (max-width: 768px) {
  .hb-footer__holder {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.hb-footer__item {
  flex: 1 1 150px;
}
@media (max-width: 768px) {
  .hb-footer__item {
    flex: 1 1 100%;
  }
}
.hb-footer__item ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hb-footer__item a {
  color: var(--color2);
}
.hb-footer__item i {
  color: var(--color1);
  width: 15px;
  margin-right: 8px;
}
.hb-footer__item img {
  width: 100%;
  max-width: 300px;
  display: table;
  margin-bottom: var(--gap-xsm);
}
.hb-footer__cell {
  margin-bottom: 5px;
}
.hb-footer__title {
  margin: 0;
  margin-bottom: var(--gap-xsm);
}
.hb-footer__copyright {
  padding-block: var(--gap-xsm);
  margin-top: var(--gap-xsm);
  border-top: 1px solid var(--color1-light2);
}
.hb-footer .subscribe-message:empty {
  display: none;
}
.hb-footer .subscribe-message:not(:empty) {
  margin-top: 10px;
  color: var(--color1);
}
.hb-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.hb-hero::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color1-light2);
  pointer-events: none;
}
.hb-hero__container {
  position: relative;
  z-index: 2;
}
.hb-hero__heading {
  text-shadow: 1px 1px 5px var(--color-dark);
}
.hb-hero__subheading {
  text-shadow: 1px 1px 5px var(--color-dark);
}
.hb-our-advantage__holder {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-md);
  justify-content: space-between;
  padding-bottom: var(--gap-sm);
}
@media (max-width: 768px) {
  .hb-our-advantage__holder {
    padding-bottom: var(--gap-md);
  }
}
.hb-our-advantage__item {
  flex: 1 1 320px;
}
.hb-our-advantage__img {
  height: 60px;
}
.hb-our-advantage__title {
  margin-block: var(--gap-sm);
  color: var(--color1);
  font-size: 30px;
}
.hb-our-advantage__text {
  margin: 0;
  line-height: 150%;
}
.hb-about-us {
  background: linear-gradient(to bottom, var(--color-light) 0%, var(--color2-light2) 15%, var(--color-light) 100%);
}
.hb-about-us__heading {
  margin-top: 0;
}
.hb-about-us__text {
  line-height: var(--lh);
}
.hb-about-us__holder {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
  align-items: flex-start;
}
.hb-about-us__item {
  flex: 1 1 320px;
  padding: var(--gap-sm);
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.hb-about-us__title {
  text-align: center;
  color: var(--color1);
  font-size: 20px;
}
.hb-popular-categories__heading {
  margin-top: 0;
}
.hb-popular-categories__holder {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-xsm);
  justify-content: center;
  align-items: center;
}
.hb-popular-categories__link {
  font-size: 20px;
  line-height: 150%;
  text-decoration: none;
  color: var(--color2);
  font-weight: bold;
  position: relative;
  display: table;
  padding: var(--gap-xsm);
  margin: var(--gap-xsm);
  border: 1px solid var(--color2);
}
.hb-popular-categories__link::before {
  content: '\2713';
  font-weight: bold;
  margin-right: var(--gap-xsm);
}
.hb-testimonials {
  border-top: 1px solid var(--color-dark);
}
.hb-testimonials__heading {
  margin: 0;
}
@media (max-width: 768px) {
  .hb-testimonials__heading {
    margin-bottom: var(--gap-md);
  }
}
.hb-testimonials__item {
  box-shadow: var(--shadow);
  border-radius: 5px;
}
@media (min-width: 768px) {
  .hb-testimonials__item {
    margin: var(--gap-lg);
    padding: var(--gap-md);
  }
}
@media (max-width: 768px) {
  .hb-testimonials__item {
    margin: var(--gap-xsm);
    padding: var(--gap-sm);
  }
}
.hb-testimonials__title {
  margin-block: var(--gap-sm);
  font-size: 25px;
}
.hb-testimonials__rating {
  margin-block: var(--gap-sm);
}
.hb-cta {
  background-size: cover;
  position: relative;
}
.hb-cta::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: var(--color1-light2);
}
.hb-cta__container {
  position: relative;
}
.hb-cta__holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
}
.hb-cta__item {
  flex: 0 1 300px;
}
.hb-cta__item:nth-child(1) {
  flex-grow: 1;
  text-shadow: 1px 1px 5px var(--color-dark);
}
.hb-featured-products__heading {
  margin-top: 0;
}
.hb-featured-products .swiper {
  padding-bottom: var(--gap-md);
  padding-inline: 20px;
}
.hb-featured-products__item {
  padding: var(--gap-xsm);
  margin: var(--gap-xsm);
  text-align: center;
  box-shadow: var(--shadow);
  border-radius: 5px;
}
.hb-featured-products__img {
  height: 300px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  max-width: 240px;
  display: table;
  margin-inline: auto;
}
.hb-featured-products a {
  text-decoration: none;
}
.hb-featured-products__title {
  text-decoration: none;
  color: var(--color1);
}
.hb-featured-products__btn {
  margin-block: var(--gap-sm);
  margin-inline: auto;
  display: table;
  padding: var(--gap-xsm) var(--gap-sm);
  background-color: var(--color1);
  color: var(--color-light);
  border-radius: 5px;
  transition: var(--transition);
}
.hb-featured-products__btn:hover {
  background-color: var(--color1-alter);
  color: var(--color-light);
}
.woocommerce a {
  color: var(--color2);
}
.woocommerce button[type="submit"],
.woocommerce input[type="submit"],
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button,
.woocommerce #respond input#submit.submit,
.woocommerce .button.wc-backward.wp-element-button,
.woocommerce a.woocommerce-Button.button,
.woocommerce .add_to_cart_button.ajax_add_to_cart,
.woocommerce .checkout-button.button.alt.wc-forward.wp-element-button,
.woocommerce #place_order {
  background-color: var(--color1);
  color: var(--color-light);
}
.woocommerce button[type="submit"]:hover,
.woocommerce input[type="submit"]:hover,
.woocommerce .single_add_to_cart_button.button.alt.wp-element-button:hover,
.woocommerce #respond input#submit.submit:hover,
.woocommerce .button.wc-backward.wp-element-button:hover,
.woocommerce a.woocommerce-Button.button:hover,
.woocommerce .add_to_cart_button.ajax_add_to_cart:hover,
.woocommerce .checkout-button.button.alt.wc-forward.wp-element-button:hover,
.woocommerce #place_order:hover {
  background-color: var(--color1-alter);
  color: var(--color-light);
}
.woocommerce ul.products li.product .price {
  color: var(--color1);
}
.woocommerce .comment-form input:not([type="submit"]),
.woocommerce .comment-form textarea {
  border-radius: 5px;
  padding: var(--gap-xsm);
}
.woocommerce .product_meta {
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
}
.woocommerce div.product p.price {
  color: var(--color1);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
  border-color: var(--color2-light2);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
  border-color: var(--color2-light2);
  box-shadow: none;
  opacity: 0.5;
}
.woocommerce .sku_wrapper {
  font-weight: bold;
}
.woocommerce .sku_wrapper .sku {
  font-weight: normal;
}
.woocommerce .posted_in {
  font-weight: bold;
}
.woocommerce .posted_in a {
  font-weight: normal;
}
.woocommerce .flex-control-thumbs {
  display: flex;
  gap: 5px;
  overflow: auto;
}
@media (max-width: 768px) {
  .woocommerce .flex-control-thumbs {
    flex-wrap: wrap;
  }
}
.woocommerce .woocommerce-form.woocommerce-form-login.login {
  border-color: var(--color2);
}
.woocommerce .woocommerce-form.woocommerce-form-login.login input:not([type="submit"]) {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account {
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account input:not([type="submit"]) {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .woocommerce-EditAccountForm.edit-account fieldset {
  border-color: var(--color2-light2);
}
.woocommerce .woocommerce-MyAccount-navigation ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xsm);
  margin-bottom: var(--gap-sm);
  list-style-type: none;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link {
  padding: var(--gap-xsm);
  border: 1px solid var(--color1);
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active {
  background-color: var(--color1);
  color: var(--color-light);
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link.is-active a {
  color: inherit;
}
.woocommerce .woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link a {
  text-decoration: none;
}
.woocommerce ul.products li.product {
  padding: 15px;
  box-shadow: 0 0 5px var(--color2-light2);
  border-radius: 5px;
}
.woocommerce .button.wp-element-button[aria-disabled="true"] {
  color: var(--color-light) !important;
}
.woocommerce .button.wp-element-button[aria-disabled="true"]:hover {
  color: var(--color-dark) !important;
}
.woocommerce #add_payment_method #payment,
.woocommerce .woocommerce-cart #payment,
.woocommerce .woocommerce-checkout #payment {
  background-color: var(--color2-light3);
}
.woocommerce .checkout.woocommerce-checkout input:not([type="submit"]),
.woocommerce .checkout.woocommerce-checkout select,
.woocommerce .checkout.woocommerce-checkout textarea {
  padding: 10px;
  border-color: var(--color2);
}
.woocommerce .checkout.woocommerce-checkout .select2-selection.select2-selection--single {
  border-color: var(--color2);
}
.type-post a,
.entry-title a a {
  color: var(--color2);
}
.type-post a:hover,
.entry-title a a:hover {
  color: var(--color2);
}
.navigation.post-navigation {
  display: none;
}
.articles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap-sm);
}
.articles-wrapper .posts-loop {
  flex: 1 1 320px;
  padding: var(--gap-sm);
  box-shadow: var(--shadow);
  border-radius: 5px;
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
}
.articles-wrapper .posts-loop > *:not(.btn) {
  flex: 1 1 100%;
}
.articles-wrapper .posts-loop__title {
  min-height: 72px;
}
.articles-wrapper .posts-loop__title a {
  color: var(--color2);
  text-decoration: none;
}
.articles-wrapper .posts-loop__content {
  margin-bottom: var(--gap-sm);
}
.articles-wrapper .posts-loop .btn {
  padding: 10px 15px;
  font-size: 16px;
  margin-top: auto;
}
.articles-wrapper a.post-thumbnail img {
  width: 100%;
  max-width: 300px;
  height: 200px;
  object-fit: cover;
  display: table;
  margin-inline: auto;
}
.wp-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xsm);
  margin-block: var(--gap-sm);
}
.wp-pagination a {
  padding: 5px;
  color: var(--color2);
  text-decoration: none;
}
.wp-pagination a:not(.next, .prev, .previous) {
  border: 1px solid var(--color2);
}
#breadcrumbs a {
  color: var(--color2);
}
/*# sourceMappingURL=all.css.map */